services:
  homeassistant:
    container_name: homeassistant
    image: ghcr.io/home-assistant/home-assistant:2026.1.3
    volumes:
      - ./home-assistant-config:/config
      - /etc/localtime:/etc/localtime:ro
    restart: unless-stopped
    network_mode: host
    privileged: true

  mosquitto:
    image: eclipse-mosquitto:2.0.22
    container_name: mosquitto
    restart: unless-stopped
    ports:
      - "1883:1883"
    volumes:
      - ./mosquitto/config:/mosquitto/config
      - ./mosquitto/data:/mosquitto/data
      - ./mosquitto/log:/mosquitto/log

  zigbee2mqtt:
    image: ghcr.io/koenkk/zigbee2mqtt:2.7.2
    container_name: zigbee2mqtt
    restart: unless-stopped
    privileged: true
    depends_on:
      - mosquitto
    volumes:
      - ./zigbee2mqtt/data:/app/data
      - /run/udev:/run/udev:ro
    devices:
      - /dev/serial/by-id/usb-dresden_elektronik_ingenieurtechnik_GmbH_ConBee_II_DE3020614-if00:/dev/ttyACM0
    ports:
      - "8080:8080"
    environment:
      - TZ=Europe/Berlin

  deconz:
    image: deconzcommunity/deconz:latest
    container_name: deconz
    restart: unless-stopped
    network_mode: host
    privileged: true
    devices:
      - /dev/serial/by-id/usb-dresden_elektronik_ingenieurtechnik_GmbH_ConBee_II_DE3020614-if00:/dev/ttyACM0
    environment:
      - DECONZ_WEB_PORT=8081    # Use a different port than Z2M
      - DECONZ_WS_PORT=8082
      - DEBUG_INFO=1
      - DEBUG_APS=0
      - DEBUG_ZCL=0
      - DEBUG_ZDP=0
      - DEBUG_OTA=0
    volumes:
      - ./deconz:/root/.local/share/dresden-elektronik/deCONZ
      - /etc/localtime:/etc/localtime:ro

  cloudflared:
    container_name: cloudflared
    # image: ghcr.io/milgradesec/cloudflared:2025.1.1
    image: cloudflare/cloudflared:2026.1.2
    restart: unless-stopped
    command: tunnel run
    environment:
      - TUNNEL_TOKEN=${CLOUDFLARE_TUNNEL_TOKEN}
